<div class="container_small-card">
	<div class="container_small-card-content">
		<div class="small-card_photo">
			<img src="https://3.bp.blogspot.com/-7muBxULkE_o/WxQfWBZb6sI/AAAAAAAAAPk/L-Hpk87PuR82fDMvfJsTxSG4kNgBGuPugCLcBGAs/s1600/mega-man-x-legacy-collection-1-2-keyart-1170x658.jpg" 
			alt="" 
			srcset=""
			>
	</div>
	<div class="small-card_title">
		<h1><a href="#">Saiu a nova versão do Angular</a></h1>
	</div>
	</div>
	
	<div class="container_small-card_separator">
		<hr>
	</div>
</div>

